@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'Exo', sans-serif;
}

.bg-dark {
    background: #000 !important;
}

.form-control {
    box-shadow: none !important;
    height: 45px;
}

.btn,
.btn:hover {
    width: 195px;
    color: #FFF !important;
    height: 46px;
}

.header-info {
    background: #292929 !important;
}

[disabled] {
    border: none;
}

h1 {
    color: #000000;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}